<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest Assured Suite">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>
    <test name="Rest Assured Test">
        <classes>
            <class name="com.example.tests.RestAssuredTest"/>
        </classes>
    </test>
</suite>
